############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=xxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxxxxxx
#
####### GENERIC KEYS
#
# https://supabase.com/docs/guides/self-hosting/docker#securing-your-services
# Generate API keys: ANON_KEY + SERVICE_ROLE_KEY
# ANON_KEY <==> SUPABASE_KEY
# SERVICE_KEY <==> SERVICE_ROLE_KEY 
ANON_KEY=YOUR-KEY-ANON_KEY
SERVICE_ROLE_KEY=YOUR-KEY-SERVICE_KEY
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=YOUR-PASSWORD

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres

############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
# SITE_URL=http://localhost:3000
SITE_URL=https://YOUR-DOMAIN.com
ADDITIONAL_REDIRECT_URLS=https://www.YOUR-DOMAIN.com
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
# API_EXTERNAL_URL=http://localhost:8000
API_EXTERNAL_URL=https://api.YOUR-DOMAIN.com

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
# ENABLE_EMAIL_SIGNUP=true
# ENABLE_EMAIL_AUTOCONFIRM=false
# SMTP_ADMIN_EMAIL=admin@example.com
# SMTP_HOST=supabase-mail
# SMTP_PORT=2500
# SMTP_USER=fake_mail_user
# SMTP_PASS=fake_mail_password
# SMTP_SENDER_NAME=fake_sender
# ENABLE_ANONYMOUS_USERS=false

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=YOUR-ORGANIZATION
STUDIO_DEFAULT_PROJECT=YOUR-PROJECT-NAME

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
# SUPABASE_PUBLIC_URL=http://localhost:8000
SUPABASE_PUBLIC_URL=https://api.YOUR-DOMAIN.com

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false

############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=YOUR-LOGFLARE_LOGGER_BACKEND_API_KEY

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=YOUR-LOGFLARE_LOGGER_BACKEND_API_KEY

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER
